header {
  margin-bottom: 38px;
  .logo {
    img {
      width: 160px;
    }
  }

  .search {
    padding-top: 30px;
  }

  .navigation {
    padding-top: 38px;
  }

  .tools {
    padding-top: 38px;

    .pi {
      margin-right: 1em;
    }
  }
}
